$border-radius: 5px;

%width {
  width: 400px;
  max-width: 90%;
}

.fakeInput {
  background: #fff;
  min-height: 40px;
  @extend %width;
  border: none;
  border-radius: $border-radius;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 4px;
}

.input {
  border: none;
  outline: none;
}

.tag {
  border-radius: $border-radius;
  padding: 2px 4px;
  font-weight: bold;

  &:hover {
    background: lighten(#000, 80%);

    & .removeButton {
      visibility: visible;
    }
  }

  &Error {
    background: lighten(red, 40%);

    &:hover {
      background: lighten(red, 40%);
    }
  }
}
.removeButton {
  border: none;
  background: none;
  visibility: hidden;
}

.select {
  @extend %width;
}

.option {
  font-size: 1.2em;
  padding: 10px 8px;
  &:hover {
    background: aliceblue;
  }
}
